# 00. Table of contents
 - Importing libraries
 - Importing datasets
 - Exploring and merging the two datasets
 - Data cleaning
 - Consistency checks
 - Exporting cleaned dataset

# 01. Importing libraries

In [1]:
#importing libraries 
import pandas as pd
import numpy as np
import os

# 02. Importing Dataset

In [2]:
# defining path
path = r'C:\Users\viki\Documents\Data Analytics\Immersion\Achievement 6\02_Data'

In [3]:
#importing datasets
df_measurements = pd.read_csv(os.path.join(path, 'Original_Data', 'WW-data-long-2022-03-14.csv'))
df_sites= pd.read_csv(os.path.join(path, 'Original_Data', 'WW-sites-2022-03-10.csv'))

# 03. Exploring and merging datasets

In [4]:
df_measurements.head()

,year,metabolite,SiteID,country,city,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Weekday mean,Weekend mean,Daily mean
0,2021,amphetamine,AT001,AT,Graz,47.15,37.48,37.95,38.02,38.14,35.82,35.45,40.03,37.48,38.57
1,2021,amphetamine,AT002,AT,Hall-Wattens,8.37,7.08,6.88,4.25,6.17,8.25,7.77,7.74,6.39,6.97
2,2021,amphetamine,AT004,AT,Innsbruck,16.59,16.72,17.60,24.92,29.69,22.38,26.24,19.85,23.65,22.02
3,2021,amphetamine,AT005,AT,Kapfenberg,25.01,24.11,30.52,31.85,36.75,35.58,22.43,23.85,33.68,29.46
4,2021,amphetamine,AT007,AT,Kufstein,24.24,16.19,19.70,10.93,22.68,20.69,24.18,21.54,18.50,19.80

In [5]:
df_sites.head()

,SiteID,country,city,location,latitude,longitude,population,institution,website
0,AT001,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/
1,AT002,AT,Hall-Wattens,Abwasserverband Hall in Tirol-Fritzens,47.29168,11.592840,78180.0,NaN,https://biomassspec.gmi.tirol/
2,AT004,AT,Innsbruck,ARA-Innsbruck,47.269212,11.404102,251656.0,Institute of Legal Medicine and Core Facility ...,http//gerichtsmedizin.at/bioanalytical_mass_sp...
3,AT005,AT,Kapfenberg,Kläranlage Kapfenberg,47.443562,15.290100,31032.0,NaN,https://biomassspec.gmi.tirol/
4,AT006,AT,Klosterneuburg,Klosterneuburg,48.309866,16.323772,30000.0,"Insitute for Water quality, Resource and Waste...",http//iwr.tuwien.ac.at/water/

In [6]:
df_measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          2569 non-null   int64
 1   metabolite    2569 non-null   object
 2   SiteID        2569 non-null   object
 3   country       2569 non-null   object
 4   city          2569 non-null   object
 5   Wednesday     2551 non-null   float64
 6   Thursday      2523 non-null   float64
 7   Friday        2537 non-null   float64
 8   Saturday      2546 non-null   float64
 9   Sunday        2533 non-null   float64
 10  Monday        2533 non-null   float64
 11  Tuesday       2535 non-null   float64
 12  Weekday mean  2568 non-null   float64
 13  Weekend mean  2569 non-null   float64
 14  Daily mean    2569 non-null   float64
dtypes: float64(10), int64(1), object(4)
memory usage: 301.2+ KB

In [7]:
df_sites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SiteID       144 non-null    object
 1   country      144 non-null    object
 2   city         144 non-null    object
 3   location     135 non-null    object
 4   latitude     144 non-null    object
 5   longitude    144 non-null    float64
 6   population   144 non-null    float64
 7   institution  123 non-null    object
 8   website      121 non-null    object
dtypes: float64(2), object(7)
memory usage: 10.2+ KB

In [8]:
#merging the datasets
df_merged = pd.merge(df_measurements, df_sites, on='SiteID')

In [9]:
df_merged.head()

,year,metabolite,SiteID,country_x,city_x,Wednesday,Thursday,Friday,Saturday,Sunday,...,Weekend mean,Daily mean,country_y,city_y,location,latitude,longitude,population,institution,website
0,2021,amphetamine,AT001,AT,Graz,47.15,37.48,37.95,38.02,38.14,...,37.48,38.57,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/
1,2021,cannabis,AT001,AT,Graz,54.77,80.42,60.10,53.88,50.46,...,60.37,87.17,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/
2,2021,cocaine,AT001,AT,Graz,127.60,121.48,137.75,174.94,179.55,...,152.39,138.65,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/
3,2021,MDMA,AT001,AT,Graz,5.82,4.53,5.27,16.56,17.37,...,12.33,9.64,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/
4,2021,methamphetamine,AT001,AT,Graz,12.44,11.24,14.99,9.33,18.66,...,13.08,13.09,AT,Graz,ARA Graz,47.070713,15.439504,487040.0,NaN,https://biomassspec.gmi.tirol/

In [10]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2569 entries, 0 to 2568
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          2569 non-null   int64
 1   metabolite    2569 non-null   object
 2   SiteID        2569 non-null   object
 3   country_x     2569 non-null   object
 4   city_x        2569 non-null   object
 5   Wednesday     2551 non-null   float64
 6   Thursday      2523 non-null   float64
 7   Friday        2537 non-null   float64
 8   Saturday      2546 non-null   float64
 9   Sunday        2533 non-null   float64
 10  Monday        2533 non-null   float64
 11  Tuesday       2535 non-null   float64
 12  Weekday mean  2568 non-null   float64
 13  Weekend mean  2569 non-null   float64
 14  Daily mean    2569 non-null   float64
 15  country_y     2569 non-null   object
 16  city_y        2569 non-null   object
 17  location      2466 non-null   object
 18  latitude      2569 non-null   object
 19  longitude     2569 non-null   float64
 20  population    2569 non-null   float64
 21  institution   2397 non-null   object
 22  website       2281 non-null   object
dtypes: float64(12), int64(1), object(10)
memory usage: 481.7+ KB

# 04. Data Cleaning

In [11]:
# dropping the columns that are not needed
df_merged.drop(['country_y', 'city_y', 'location', 'institution', 'website'], axis=1, inplace=True)

In [12]:
#renaming columns
df_merged.rename(columns={'country_x': 'Country', 'city_x': 'City'}, inplace=True)

In [13]:
#changing datatype for latitude
df_merged['latitude'] = df_merged['latitude'].astype(float)

In [14]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2569 entries, 0 to 2568
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          2569 non-null   int64
 1   metabolite    2569 non-null   object
 2   SiteID        2569 non-null   object
 3   Country       2569 non-null   object
 4   City          2569 non-null   object
 5   Wednesday     2551 non-null   float64
 6   Thursday      2523 non-null   float64
 7   Friday        2537 non-null   float64
 8   Saturday      2546 non-null   float64
 9   Sunday        2533 non-null   float64
 10  Monday        2533 non-null   float64
 11  Tuesday       2535 non-null   float64
 12  Weekday mean  2568 non-null   float64
 13  Weekend mean  2569 non-null   float64
 14  Daily mean    2569 non-null   float64
 15  latitude      2569 non-null   float64
 16  longitude     2569 non-null   float64
 17  population    2569 non-null   float64
dtypes: float64(13), int64(1), object(4)
memory usage: 381.3+ KB

# 05. Consistency checks

In [15]:
#preparing descriptive statistics
df_merged.describe()

,year,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Weekday mean,Weekend mean,Daily mean,latitude,longitude,population
count,2569.000000,2551.000000,2523.000000,2537.000000,2546.000000,2533.000000,2533.000000,2535.000000,2568.000000,2569.000000,2569.000000,2569.000000,2569.000000,2.569000e+03
mean,2017.302452,78.992301,80.713781,87.122803,104.187133,109.720904,89.065898,83.962276,81.199607,97.929260,90.689000,50.232732,11.343716,5.411299e+05
std,2.860870,141.770603,146.829923,157.248813,187.438838,198.120029,156.694279,166.977673,146.737828,172.108124,158.996037,7.428004,10.918449,1.310798e+06
min,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.616065,-61.058780,7.774000e+03
25%,2015.000000,4.360000,4.060000,4.400000,6.320000,6.970000,6.160000,5.140000,4.782500,6.500000,6.310000,46.137880,4.460000,1.030310e+05
50%,2018.000000,19.430000,18.450000,20.890000,31.290000,35.130000,27.860000,21.880000,20.205000,30.340000,26.510000,49.833864,11.404102,2.516560e+05
75%,2020.000000,82.645000,82.980000,89.960000,101.680000,110.850000,93.140000,87.460000,85.542500,99.740000,92.530000,53.551085,18.281034,6.500000e+05
max,2021.000000,1423.910000,1556.200000,1594.080000,1806.010000,2090.150000,1770.910000,3932.490000,1945.780000,1700.550000,1581.880000,66.500000,35.330830,1.652500e+07

In [16]:
# frequency tables for categorical variables
pd.set_option("display.max_rows", None)
print(df_merged.Country.value_counts())
print(df_merged.City.value_counts())
print(df_merged.SiteID.value_counts())
print(df_merged.metabolite.value_counts())

FI    386
DE    262
BE    205
ES    203
CH    200
AT    162
NL    136
CZ    105
PT    104
SI    102
SE     88
FR     81
IT     70
LT     52
HR     50
GR     47
CY     46
SK     45
NO     43
GB     42
TR     27
DK     27
IS     25
PL     18
RS     14
LV     12
BA      5
RO      5
EE      4
MT      3
Name: Country, dtype: int64
Paris Seine Centre        50
Santiago                  50
Zagreb                    50
Milan                     50
Castellon                 49
Utrecht                   47
Amsterdam                 46
Antwerp Zuid              46
Barcelona                 46
Oslo                      43
Brussels                  42
Berne                     41
Geneva                    41
Zurich                    41
Budweis                   39
Turku                     37
Helsinki                  37
Almada                    36
Lisbon                    36
Dülmen                    36
Dresden                   36
Dortmund                  36
Basel                     36
Eindhoven                 35
Athens                    35
Espoo                     32
Porto                     32
Valencia (3)              32
Tampere                   32
Munich Gut Großlappen     31
Limassol                  30
Piestany                  29
Innsbruck                 28
Reykjavik Klettagarðar    25
Koksijde                  25
Prague (2)                25
Copenhagen                23
Ljubljana                 23
Antwerp Deurne            22
Bristol                   22
St. Gallen Hofen          21
Hall-Wattens              20
London                    20
Region Millstättersee     20
Wasserverband Hofsteig    20
Bozen                     20
Vilnius                   20
Oostende                  20
Saarbrücken (2)           19
Erfurt                    19
Domžale-Kamnik            19
Chemnitz                  19
Bordeaux I                18
Krakow P                  18
Maribor                   18
Rovaniemi                 16
Oulu                      16
Vaasa                     16
Berlin (4)                16
Lappeenranta              16
Bratislava C              16
Lahti                     16
Savonlinna                16
Joensuu                   16
Stockholm (2)             16
Jyväskylä                 16
Kotka                     16
Kuopio                    16
Kaunas                    16
Klaipeda                  16
Brno                      16
Graz                      15
Umea                      15
Ostrava                   15
Purgstall                 15
Kapfenberg                15
Gävle                     15
Velenje                   14
Novo mesto                14
Koper                     14
Madrid VdlV               14
Istanbul (II-VII)         13
Geraardsbergen            13
Ninove                    13
Boom                      12
Uppsala                   12
Adana                     12
Lugano                    12
Riga                      12
Nuremberg                 11
Magdeburg                 11
Kufstein                  10
Karlovy Vary              10
Strass im Zillertal       10
Gothenburg                10
Sandviken                 10
Söderhamn                 10
Novi Sad                   9
Paris South Suburbs        9
Seinäjoki                  8
Hamburg (2)                8
Hämeenlinna                8
Kajaani                    8
Kemi                       8
Mikkeli                    8
Molina de Segura           8
Kokkola                    8
Pori                       8
Kouvola                    8
Lausanne                   8
Mariehamn                  8
Eleusis                    6
Mürzzuschlag               5
Belgrade                   5
Cluj Napoca                5
Sarajevo                   5
Agia Napa                  4
Larnaca                    4
Tarragona                  4
Mytilene                   4
Odense                     4
Pietarsaari                4
Rauma                      4
Klosterneuburg             4
Salo                       4
Paphos                     4
Vihti                      4
Oudewater                  4
Nieuwegein Ijssel.         4
Fort-de-France P           4
Stuttgart                  4
Rostock                    4
Mainz                      4
Hannover (2)               4
Frankfurt (3)              4
Ruisbroek (Puurs)          4
Merchtem                   4
Nicosia (2)                4
Brugge                     4
Malta                      3
Thessaloniki               2
Istanbul I                 2
Narva                      2
Tartu                      2
Name: City, dtype: int64
FR005    50
ES005    50
HR001    50
IT002    50
ES002    49
NL005    47
NL001    46
BE002    46
ES001    46
NO001    43
BE005    42
CH002    41
CH003    41
CH008    41
CZ002    39
FI025    37
FI003    37
PT001    36
PT002    36
DE011    36
DE010    36
DE009    36
CH001    36
NL002    35
GR001    35
FI001    32
PT003    32
ES007    32
FI024    32
DE026    31
CY003    30
SK004    29
AT004    28
IS002    25
BE007    25
CZ005    25
DK001    23
SI003    23
BE001    22
GB001    22
CH007    21
AT002    20
GB002    20
AT008    20
AT003    20
IT001    20
LT003    20
BE010    20
DE030    19
DE012    19
SI001    19
DE008    19
FR003    18
PL003    18
SI004    18
FI020    16
FI016    16
FI026    16
DE001    16
FI013    16
SK002    16
FI012    16
FI022    16
FI004    16
SE005    16
FI005    16
FI009    16
FI011    16
LT001    16
LT002    16
CZ001    16
AT001    15
SE007    15
CZ004    15
AT010    15
AT005    15
SE001    15
SI006    14
SI005    14
SI002    14
ES003    14
TR003    13
BE006    13
BE009    13
BE003    12
SE008    12
TR001    12
CH005    12
LV001    12
DE028    11
DE023    11
AT007    10
CZ003    10
AT011    10
SE002    10
SE003    10
SE004    10
RS002     9
FR006     9
FI023     8
DE017     8
FI002     8
FI006     8
FI007     8
FI015     8
ES004     8
FI008     8
FI018     8
FI010     8
CH004     8
FI014     8
GR002     6
AT009     5
RS001     5
RO001     5
BA001     5
CY001     4
CY002     4
ES006     4
GR003     4
DK002     4
FI017     4
FI019     4
AT006     4
FI021     4
CY007     4
FI027     4
NL004     4
NL003     4
FR004     4
DE033     4
DE029     4
DE024     4
DE020     4
DE013     4
BE011     4
BE008     4
CY005     4
BE004     4
MT001     3
GR004     2
TR002     2
EE001     2
EE002     2
Name: SiteID, dtype: int64
cocaine            602
MDMA               590
methamphetamine    586
amphetamine        576
cannabis           215
Name: metabolite, dtype: int64

In [17]:
# looking for mixed datatypes
for col in df_merged.columns.tolist():
  mixed = (df_merged[[col]].applymap(type) != df_merged[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_merged[mixed]) > 0:
    print (col)

In [18]:
# looking for missing values
df_merged.isnull().sum()

year             0
metabolite       0
SiteID           0
Country          0
City             0
Wednesday       18
Thursday        46
Friday          32
Saturday        23
Sunday          36
Monday          36
Tuesday         34
Weekday mean     1
Weekend mean     0
Daily mean       0
latitude         0
longitude        0
population       0
dtype: int64

In [19]:
#looking for duplicate values
df_dups= df_merged[df_merged.duplicated()]
print(df_dups)

Empty DataFrame
Columns: [year, metabolite, SiteID, Country, City, Wednesday, Thursday, Friday, Saturday, Sunday, Monday, Tuesday, Weekday mean, Weekend mean, Daily mean, latitude, longitude, population]
Index: []

In [20]:
#No.of columns and rows
df_merged.shape

(2569, 18)

# 06. Exporting cleaned dataset

In [21]:
#exporting dataset to csv
df_merged.to_csv(os.path.join(path, 'Prepared_Data', 'merged_cleaned_dataset.csv'), index=False)